# Go
# コンパイルされた実行可能ファイル
main
*.exe
*.out

# 依存関係 (もし vendor/ を使う場合)
# vendor/

# OS固有ファイル
.DS_Store
Thumbs.db
._*

# IDE/エディタ設定
.vscode/
.idea/
*.swp
*~

# ログファイル
*.log

# 機密情報
token.json
backend/credentials.json
backend/token.json

# 環境変数ファイル (もしあれば)
# .env
drivegallery-460509-e833751c168d.json
node_modules/
.env
drivegallery-460509-940d67da0b0e.json
backend/drive_api.go
.firebaserc
drive-gallery.db
.firebase/hosting.ZGlzdA.cache
.firebase/hosting.ZnJvbnRlbmQvZGlzdA.cache
